body {
    min-width: 320px;
    max-width:  750px;
    /* flexible 给我们划分了 10 等份 */
    width: 10rem;
    margin: 0 auto;
    line-height: 1.5;
    font-family: Arial, Helvetica;
    color:#333;
    /* background: #f2f2f2; */
    /* height: 3000px; */
  }
  a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
  }
  
 button, input {
    outline: none;
    border: 0;
    -webkit-appearance: none;
  }
img {
    vertical-align: top;
}
i,em  {
    font-style: normal;
}
b,strong {
    font-weight: normal;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
div,h1,h2,h3,h4,h5,p,li,header,input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hide {
    display: none;
}
/*清除浮动的*/
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

/* 顶部状态栏 */
.status {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    height: .533333rem;
    z-index: 9;
}
.status img {
    width: 100%;
    height: .533333rem;
    
}

/* 底部css */
footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    height: 1.333333rem;
    background-color: #fff;
    box-shadow: 0 -0.106667rem .16rem 0 rgba(219,219,219,0.50);
    z-index: 10;
}
footer li {
    float: left;
    position: relative;
    margin-left: .533333rem;
    width: 1.333333rem;
    height: 1.333333rem;
    /* background-color: aqua; */
    text-align: center;
    cursor: pointer;
}
footer li a {
	display:inline-block;
	width: 1.333333rem;
    height: 1.333333rem;
}

footer li img {
    display: block;
    width: .613333rem;
    height: .613333rem;
    margin: auto;
    margin-top: .266667rem;
}
footer li p {
    font-size: .266667rem;
    color: #3b3b3b;
}
footer li:nth-child(3) {
    position: relative;
    width: 1.52rem;
}
footer li:nth-child(3) img {
    position: absolute;
    top: -0.8rem;
    left: 0;
    width: 1.52rem;
    height: 2.026667rem;
    z-index:-1;
}
footer li:nth-child(3) p {
    margin-top: .88rem;
}