.back {
    height: 1.76rem;
    margin-top: .266667rem;
    padding: 0 .533333rem;
}
.back i {
    float: left;
    width: .266667rem;
    height: .533333rem;
    background: url(../images/common/back.png);
    background-size: .266667rem .533333rem ;
}
.back a {
    float: right;
    height: .533333rem;;
    font-size: .346667rem;
    line-height: .533333rem;
}
.passport_title {
    margin-bottom: 1.066667rem;
}
.passport_title h3 { 
    height: 1.066667rem;
    font-size: .533333rem;
    line-height: .746667rem;
    font-weight: 400;
    padding: 0 .48rem;
}
.passport_title h3 span {
    font-size: .32rem;
    line-height: .453333rem;
    color: #999;
    margin-left: .133333rem;
}
.passport_form {
    position: relative;
    font-size: .373333rem;
    padding: 0 .266667rem;
}
.passport_form input {
    width: 9.546667rem;
    height: 1.066667rem;
    line-height: 1.066667rem;
    border-bottom: .026667rem solid #e7e7e7;
    padding-left: .213333rem;
    margin-bottom: .8rem;
}
.passport_form input::-webkit-input-placeholder {
    color: #999;
}
.passport_form input:nth-of-type(4) {
    margin-bottom: .266667rem;
}
.passport_form p {
    color: #B5B5B5;
    font-size: .32rem;
    padding: 0 .32rem;
}
.passport_form input:last-child {
    border-bottom: 0;
    padding-left: 0;
    margin-bottom: 0;
}
.passport_form input:last-child {
    display: block;
    margin: auto;
    width: 8.266667rem;
    height: 1.2rem;
    background-color: #fddf00;
    border-radius: 2.666667rem;
    line-height: 1.2rem;
    text-align: center;
    margin-top: 1.173333rem;
}
.passport_form span {
    position: absolute;
    top: .266667rem;
    right: .533333rem;
}
span.passport_prompt {
    top: 2.133333rem;
}
span.flight_prompt {
    top: 4rem;
}
span.tel_prompt {
    top: 5.866667rem;
}
.right {
    color: green;
}
.error {
    color: red;
}